{% extends "base.html" %}
{% block content %}

    <ul class="collapsible popout">
      {% for list in lists %}
        <li>
          <div class="collapsible-header black-text teal lighten-4 text-shadow">
            <i class="fas fa-wine-bottle"></i>
                <strong>{{ list.list_name }}</strong> : {{ list.vintage_date }}
                
                {% endif %}
            </div>
            <div class="collapsible-body">
                <strong>{{ list.category_name }}</strong>
                <p>{{ list.list_description }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}





























{% extends "base.html" %}
{% block content %}

<ul class="collapsible popout">
  {% for list in lists %}
  <li>
    <div class="collapsible-header black-text teal lighten-4 text-shadow">
      <i class="fas fa-wine-bottle"></i>
      <strong>{{ lists.list_name }}</strong> : {{ lists.vintage_date }}
      {% endif %}
    </div>
    <div class="collapsible-body">
      <strong>{{ lists.category_name }}</strong>
      <p>{{ lists.list_description }}</p>
    </div>
  </li>
  {% endfor %}
</ul>

{% endblock %}