{% extends "base.html" %}
{% block content %}

{% for list in lists %}
{{ list.list_name }}<br>
{{ list.category_name }}<br>
{{ list.list_description }}<br>
{{ list.vintage_date }}<br>
{% endfor %}

<ul class="collapsible popout">
  <li> 
    <div class="collapsible-header black-text teal lighten-4 text-shadow"><i class="fas fa-wine-bottle"></i>First</div>
    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
  </li>
  <li>
    <div class="collapsible-header black-text teal lighten-4 text-shadow"><i class="fas fa-wine-bottle"></i>Second</div>
    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
  </li>
  <li>
    <div class="collapsible-header black-text teal lighten-4 text-shadow"><i class="fas fa-wine-bottle"></i>Third</div>
    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
  </li>
</ul>

{% endblock %}